<%- include('partials/header') -%>
<section class="pb-28">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <h2><%= user.userName %></h2>
      <img class="img-fluid" src="<%= post.image%>" />
      <div class="row justify-content-between">
        <form class="inline mb-6" action="/post/likePost/<%= post.id %>?_method=PUT" method="POST">
          <button class="fa-regular fa-heart text-2xl mt-3" type="submit"></button>
        </form>
        <span class="text-gray-900 block mt-3 font-medium lg:text-xl">
          <%= post.likes%> 
        <% if (post.likes == 1) { %>
          <span>like</span>
          <% } else { %>
            <span>likes</span>
        <% } %>
        </span>
        <%if(post.user == user.id){ %>
        <form
          action="/post/deletePost/<%= post.id %>?_method=DELETE"
          method="POST"
          class="col-3"
        >
          <button class="btn btn-primary fa fa-trash" type="submit"></button>
        </form>
        <%}%>
      </div>
    </div>
    <div class="col-3 mt-5">
      <p><%= post.caption %></p>
    </div>
    <div class="col-6 mt-5">
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
      <a class="btn btn-primary" href="/feed">Return to Feed</a>
    </div>
  </div>
</section>

<%- include('partials/footer') -%>